<%- include('../templates/head') %>
<body>
    <%- include('../templates/header') %>
    <div class="container">
        <%- include('../templates/left') %>
        <div class="content" id="index">
            <div class="title">
                <div class="title-text">待处理-任务分类上报</div>
                <div class="btn-group">
                    <a href="javascript:void(0)" class="hollow-btn">返回</a>
                </div>
            </div>
            <div class="drop-group">
                <ul class="drop-all">
                   <li class="drop-item">
                       <span class="demonstration">发布单位：</span>
                       <el-dropdown trigger="click">
                            <span class="el-dropdown-link">
                                不限<i class="iconfont icon-icon_2 drop-icon"></i>
                            </span>
                           <el-dropdown-menu slot="dropdown">
                               <el-dropdown-item>不限</el-dropdown-item>
                               <el-dropdown-item>上城区哨所</el-dropdown-item>
                           </el-dropdown-menu>
                       </el-dropdown>
                   </li>
                    <li class="drop-item">
                        <span class="demonstration">上报标题：</span>
                        <div class="search-two">
                            <input type="text" placeholder="关键词搜索" class="search-two-input">
                            <span class="search-two-btn"><i class="iconfont icon-search"></i></span>
                        </div>
                    </li>
                    <li class="drop-item">
                        <span class="demonstration">危险等级：</span>
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link">
                                不限<i class="iconfont icon-icon_2 drop-icon"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>不限</el-dropdown-item>
                                <el-dropdown-item>一级</el-dropdown-item>
                                <el-dropdown-item>二级</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                    <li class="drop-item">
                        <span class="demonstration">状态：</span>
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link">
                                不限<i class="iconfont icon-icon_2 drop-icon"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>不限</el-dropdown-item>
                                <el-dropdown-item>已处理</el-dropdown-item>
                                <el-dropdown-item>流转中</el-dropdown-item>
                                <el-dropdown-item>已办结</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                    <li class="drop-item">
                        <span class="demonstration">发布时间：</span>
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link">
                                不限<i class="iconfont icon-icon_2 drop-icon"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>不限</el-dropdown-item>
                                <el-dropdown-item>2个月</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                </ul>


            </div>
            <div class="cont-wrap">
                <div class="cont-box">
                    <div class="table">
                        <template>
                            <el-table
                                    :data="tableData"
                                    style="width: 100%">
                                <el-table-column
                                        prop="number"
                                        label="序号"
                                        width="80">
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.number}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="title"
                                        label="下发标题"
                                        width="360"
                                >
                                    <template slot-scope="scope">
                                        <div class="text-all">
                                            ${scope.row.title}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="grade"
                                        label="危害等级"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.grade}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="task"
                                        label="任务类型"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.task}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="Issued"
                                        label="发布单位"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.Issued}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="date"
                                        label="发布时间"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.date}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="receive"
                                        label="回复/接收"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d green">
                                            ${scope.row.receive}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        label="操作"
                                >
                                    <template slot-scope="scope">
                                        <div class="operation-d">
                                            <a href="javascript:void(0)" class="oper-one oper" title="添加专题"><i class="iconfont icon-special"></i></a>
                                            <a href="javascript:void(0)" class="oper-two oper"><i class="iconfont icon-lujing195"></i></a>
                                            <a href="javascript:void(0)" class="oper-three oper"><i class="iconfont icon-lujing194"></i></a>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div class="table-foot">
                        <div class="foot-left">
                            <a href="javascript:void(0)" class="solid-btn"><i class="iconfont icon-lujing84"></i>导出</a>
                        </div>
                        <div class="foot-right">
                            <el-pagination
                                    small
                                    background
                                    layout="prev, pager, next"
                                    :total="50">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../templates/foot') %>
<script>
    var js_content = new Vue({
        el: '#index',
        delimiters: ['${', '}'],
        data() {
            return {
                   tableData: [
                    {
                        number:'01',
                        title:'应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        grade:'一级',
                        task:'评论',
                        Issued:'上城区哨所',
                        date: '2020-02-16  14:03:00',
                        receive:'11/28',
                    },
                    {
                        number:'01',
                        title:'应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        grade:'一级',
                        task:'评论',
                        Issued:'上城区哨所',
                        date: '2020-02-16  14:03:00',
                        receive:'11/28',
                    },
                    {
                        number:'01',
                        title:'应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        grade:'一级',
                        task:'评论',
                        Issued:'上城区哨所',
                        date: '2020-02-16  14:03:00',
                        receive:'11/28',
                    }
                ]
            };
        },
        created() {
        },
        methods: {
            handleClick(tab, event) {
                //console.log(tab, event);
            }
        }
    });
</script>
</body>
</html>