<%- include('../templates/head') %>
<body>
<%- include('../templates/header') %>
<div class="container">
    <%- include('../templates/left') %>
    <div class="content" id="index">
        <div class="title">
            <div class="title-text">用户管理</div>
            <div class="btn-group">
                <a href="javascript:void(0)" class="hollow-btn">批量导入用户</a>
                <a href="javascript:void(0)" class="solid-btn">导入用户模板</a>
                <a href="javascript:void(0)" class="solid-btn">导入错误</a>
                <a href="javascript:void(0)" class="solid-btn">新建用户</a>
            </div>
        </div>
        <div class="cont-wrap">
            <div class="left-tree">
                <div class="search-two">
                    <input type="text" placeholder="请输入单位名称" class="search-two-input">
                    <span class="search-two-btn"><i class="iconfont icon-search"></i></span>
                </div>
                <div class="tree-box">
                    <el-tree
                            :data="data"
                            show-checkbox
                            node-key="id"
                            default-expand-all
                            :expand-on-click-node="false">
                        <span class="custom-tree-node" slot-scope="{ node, data }">
                            <span>${ node.label }</span>
                        <span>
                            <el-button
                                    type="text"
                                    size="mini"
                                    @click="() => append(data)">
                                Append
                            </el-button>
                            <el-button
                                    type="text"
                                    size="mini"
                                    @click="() => remove(node, data)">
                                Delete
                            </el-button>
                        </span>
                        </span>
                    </el-tree>
                </div>
            </div>
            <div class="cont-box">
                <div class="table-box2">
                    <div class="table">
                        <template>
                            <el-table
                                    :data="tableData"
                                    style="width: 100%"
                                    @selection-change="handleSelectionChange"
                            >
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        prop="number"
                                        label="序号"
                                        width="80">
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.number}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="title"
                                        label="任务标题"
                                        width="360"
                                >
                                    <template slot-scope="scope">
                                        <div class="text-all">
                                            ${scope.row.title}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="task"
                                        label="任务类型"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.task}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="Issued"
                                        label="单位名称"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.Issued}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="date"
                                        label="发布时间"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.date}
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="endDate"
                                        label="结束时间"
                                >
                                    <template slot-scope="scope">
                                        <div class="week-d">
                                            ${scope.row.date}
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div class="table-foot">
                        <div class="foot-left">
                            <a href="javascript:void(0)" class="solid-btn"><i class="iconfont icon-lujing84"></i>导出</a>
                        </div>
                        <div class="foot-right">
                            <el-pagination
                                    small
                                    background
                                    layout="prev, pager, next"
                                    :total="50">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../templates/foot') %>
<script>
    let id = 1000;
    var js_content = new Vue({
        el: '#index',
        delimiters: ['${', '}'],
        data() {
            const data = [
                {
                id: 1,
                label: '特约网评员',
                    children: [{
                        id: 2,
                        label: '黄悦悦'
                    }, {
                        id: 3,
                        label: '蔡徐坤'
                    }]
                },
            ];
            return {
                tableData: [
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    },
                    {
                        number: '01',
                        title: '应届毕业生落户广州更方便，只需到公安机关审核办理即可',
                        task: '评论',
                        Issued: '上城区哨所',
                        date: '2020-02-16  14:03:00',
                        endDate: '2020-02-16  14:03:00',
                    }
                ],
                data: JSON.parse(JSON.stringify(data)),
                data: JSON.parse(JSON.stringify(data))
            }
        },
        methods: {
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            append(data) {
                const newChild = { id: id++, label: 'testtest', children: [] };
                if (!data.children) {
                    this.$set(data, 'children', []);
                }
                data.children.push(newChild);
            },
            remove(node, data) {
                const parent = node.parent;
                const children = parent.data.children || parent.data;
                const index = children.findIndex(d => d.id === data.id);
                children.splice(index, 1);
            },
            /*renderContent(h, { node, data, store }) {
                return (
                    <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <span>
                    <el-button size="mini" type="text" on-click={ () => this.append(data) }>Append</el-button>
                <el-button size="mini" type="text" on-click={ () => this.remove(node, data) }>Delete</el-button>
                </span>
                </span>);
            }*/
        },
    })
</script>
</body>
</html>